{% extends 'layout.html'%}
{% load static %}
{% block unique_content %}
        <section  class="container">
<form action="{% url 'search_results' %}" method="get">
{{form.as_p}}
<input type="submit" value="применить">
</form>
{% if object_list %}
    <ul>
       {% for card in object_list %}
        <div class="card">
        <div>
            <img src="{{ card.ava.url }}" alt="фото">
        </div>
        <div class="card-bl">
            <h3 class="fio-card">{{ card.fio }}</h3>
            <a class="card-card" href="{% url 'cat_ord' card.category.id %}">{{ card.category.category_text }}</a>
            <h5 class="card-card">Кредо:</h5>
            <p class="card-card">{{ card.kredo }}</p>
            <h5 class="card-card">Отзыв:</h5>
            <p class="card-card">{{ card.otzyv }}</p>
            <p class="card-card">Год выпуска: {{ card.god_grad}}</p>
        </div>
    </div>
                            {% endfor%}

{% else %}
    <p class='kart'>К сожалению, пока объявлений по данной категории нету:(</p>
{% endif %}
</container>
{% endblock%}