{% extends 'layout_card.html' %}
{% load static%}
{% block title%}
    <title>{{categories}}</title>
{% endblock%}
{% block unique_content%}

<section class="container">
<h1 class="cat_name">{{categories}}</h1>
<form class="form" action="" method="get">
{{form.as_p}}
<input class="prim" type="submit" value="Применить">
</form>
{% if cards %}
    <ul class="cards">
       {% for card in cards %}
       <a href="{% url 'card_detail' card.id %}">
        <div class="card">
        <div>
            <img src="{{ card.ava.url }}" alt="фото">
        </div>
        <div class="card-bl">
            <h3 class="fio-card">{{ card.name }}</h3>
            <a class="card-card" href="{% url 'cat_ord' card.category.id %}">{{ card.category.category_text }}</a>
            <p class="card-card">{{ card.kredo|truncatechars:40 }}</p>
            <p class="card-card">{{ card.otzyv|truncatechars:21 }}</p>
            <p class="card-card right">Год выпуска: {{ card.god_grad}}</p>
        </div>
    </div>
    </a>
                            {% endfor%}
    </ul>
    {% else %}
    <p class='err'>К сожалению, пока объявлений по данной категории нету:(</p>
{% endif %}
        </section>
{% endblock%}
